<style>
.docs p:nth-of-type(1) {
  font-size: inherit;
}
</style>

<div class="jumbotron">
  <div class="container">
    <h1>Guide</h1>
    <p>Sequential bootloader and context for node applications</p>
  </div>
</div>

<div class="body-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-12 docs">
        <%- partial('_docs/guide') %>
      </div>
    </div>
  </div>
</div>
