<div class="jumbotron">
  <div class="container">
    <h1>app-context</h1>
    <p>Sequential bootloader and context for node applications</p>
  </div>
</div>

<div class="body-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-12 docs">
        <%- partial('_docs/overview') %>
      </div>
    </div>
  </div>
</div>
