<header class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand" alt="app-context">
        <img src="/images/logo-white.png">
      </a>
    </div>
    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <p class="navbar-text" style="margin-top:13px">
            <a href="https://github.com/app-context/app-context" target="_blank">
              <img src="https://img.shields.io/github/stars/app-context/app-context.svg?style=social&label=Star">
            </a>
          </p>
        </li>
      </ul>
    </nav>
  </div>
</header>

<div class="jumbotron">
  <div class="container">
    <h1>app-context</h1>
    <p>Sequential bootloader and context for node applications</p>
  </div>
</div>

<div class="body-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="sidebar affix-top">
          <div id="navigation">
            <ul class="nav sidenav">
              <li><a href="#installation">Installation</a></li>
              <li><a href="#usage">Usage</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-9 docs">
        <%- partial('_docs/index') %>
      </div>
    </div>
  </div>
</div>

<footer>
  <div class="container">
    <div class="social">
      <iframe src="https://ghbtns.com/github-btn.html?user=app-context&repo=app-context&type=star&count=true" frameborder="0" scrolling="0" width="170px" height="20px"></iframe>
    </div>
    <p>app-context and documentation is maintained by <a href="https://github.com/mattinsler">Matt Insler</a>.</p>
    <p>Source code and documentation released until the <a href="https://github.com/app-context/app-context/blob/master/LICENSE-MIT">MIT License</a>.</p>
  </div>
</footer>
