<div class="jumbotron">
  <div class="container">
    <h1>Initializers</h1>
    <p>Sequential bootloader and context for node applications</p>
  </div>
</div>

<div class="body-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p style="font-size:1.5em;margin-bottom:30px;">
          This is a list of re-usable initializers that have been published to
          <a href="https://www.npmjs.com/" target="_blank">npm</a>. Each is
          freely available to be used in your applications. Click on an
          initializer's name to be taken to it's documentation on github.
        </p>

        <div class="initializers">
          Loading initializer list...
        </div>
      </div>
    </div>
  </div>
</div>

<script id="tpl-initializer" type="text/x-template">
<span class="initializer-wrapper">
  {{#example}}
  <div class="example-trigger">example</div>
  {{/example}}
  <a class="initializer" href="{{repository}}" target="_blank">
    <div class="clearfix">
      <div class="name" style="float:left;">{{name}}</div>
      <div style="float:right;">
        <ul>
          <li><i class="fa fa-download"></i> {{downloads.month}}</li>
          <li><i class="fa fa-star"></i> {{stars}}</li>
        </ul>
      </div>
    </div>
    <div class="description clearfix">
      <div style="float:left;">{{description}}</div>
      <div style="float:right;">
        v{{version}}
      </div>
    </div>

    {{#example}}
    <div class="example">
      <div style="font-size:0.9em;margin-top:6px;">Example</div>
      <pre><code class="javascript">{{example}}</code></pre>
    </div>
    {{/example}}
  </a>
</span>
</script>

<script src="/bower_components/highlightjs/highlight.pack.min.js"></script>
<script src="/bower_components/hogan.js/web/builds/3.0.2/hogan-3.0.2.min.js"></script>

<script>
function formatNumber(n) {
  n = n.toString().split('').reverse();
  var parts = [];
  while (n.length > 0) {
    parts.unshift(n.slice(0, 3).reverse().join(''));
    n = n.slice(3);
  }
  return parts.join(',');
}

$(function() {
  hljs.initHighlighting();

  $(document).on('click', '.example-trigger', function(e) {
    $(this).next('.initializer').find('.example').slideToggle();
  });

  var $initializers = $('.initializers');
  var template = Hogan.compile($('#tpl-initializer').html());

  $.getJSON('http://registry.app-contextjs.com', function(packages) {
    var initializers = packages.sort(function(l, r) {
      return l.name.localeCompare(r.name);
    }).map(function(pkg) {
      return $(template.render(pkg));
    });

    $initializers.html(initializers).find('pre code').each(function(i, block) {
      hljs.highlightBlock(block);
    });
  });
});
</script>
